/*
===========================
Layout
===========================*/
.line {
  /*min-height: 2em;*/
  border-bottom: 0.2em #0089FF solid;
}
/* ^^ WHY IS THIS NOT WORKING??*/
.spacer-top {
  min-height: 2em;
}
.spacer-bottom {
  min-height: 3em;
}

/*
===========================
blockquote- section
===========================*/
.blockquote-wrapper{
  /*margin-left: 15px;*/
  /*border: 2px red dashed;*/
}

blockquote.blockquote{
  border-left: .25rem solid #0089FF;
  /* ^^ WHY IS THIS NOT WORKING? it?*/
}

blockquote > footer{
  background: none;
}

/*
===========================
Work - section
===========================*/
/* - make the section a flex-box,
to easily change the order of each project */
#Work > section{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}
.project-item{
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
#default-project{
  order: 6;
  -webkit-order: 6;
  -ms-flex-order: 6;
}
#battleship-project{
  order: 2;
  -webkit-order: 2;
  -ms-flex-order: 2;
}
#portfolio-project{
  order: 0;
  -webkit-order: 0;
  -ms-flex-order: 0;
}
#hangman-project{
  order: -2;
  -webkit-order: -2;
  -ms-flex-order: -2;
}


/*
===========================
footer - section
===========================*/
.footer{
  /*max-height:;*/
  color: white;
  background: /*#0275d8*/;
  background-color: #00457F;
  border-top: 5px solid #0089FF;

}
.footer-text{
  margin-bottom: 0;
  padding: 5px 0;
}


/*
===========================
debugging!
===========================*/
.debug {
  border: 2px red dashed;
  /*min-height: 10px;*/
}

/*
Colors??
0089FF
3D3E99
FF9C40
CC5214
1416CC
*/

/*Shade of blue: 
0089FF
002240
007BE5
00457F
0067BF
*/

/*Complimentary Orange
B26D00 darker
FF9C00 brighter*/