//*
===========================
Layout
===========================*/
.line{
  border-bottom: 1px gray solid;
}
.spacer {
  min-height: 2em;
}



.debug {
  border: 2px red dashed;
  /*min-height: 10px;*/
}

/*
===========================
footer - section
===========================*/
footer{
  /*max-height:;*/
  color: white;
  background: #0275d8;
}
.footer-text{
  margin-bottom: 0;
  padding: 5px 0;
}