/*
===========================
Layout
===========================*/
.hr-spacer{
  height: 2em;
}
.hr-line{
  border-bottom: 1px gray solid;
}



/*.debug {
  border: 2px red dashed;
}*/

/*
===========================
Header - section
===========================*/
