/*################ Specifics  ###############*/
/*------- main-content ------------*/
.main-content {
    /*background-color: rgb(245,245,245);*/
    background-color: rgba(245,245,245,0.95)
}

.scroll-wrapper {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    border: 1px blue solid;
}

.scroll-content{
    border: 1px blue solid;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow-y: scroll;
}

/*------- Project ------------*/
.project-container {
    border: 2px dashed brown;
    list-style-type: none;
}
.project{
     border: 1px solid red;
     padding: 1em;
     margin-bottom: 2em;
}
.project:last-child{
    margin-bottom: 1em;
}
/*
*{
    font-family: 'Pangolin', cursive;
}*/